*,
::before,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Verdana, sans-serif;
}
body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}
#btn-container {
    display: flex;
    gap: 5rem;
}

.btn {
    font-size: 50px;
    padding: 0.5rem 1rem;
}

#count-container {
    display: flex;
    gap: 5rem;
}

#count-container > * {
    font-size: 1.5rem;
}

#roundResult,
#showWinner {
    font-size: 50px;;
}

#reset {
    visibility: hidden;
}

.active {
    visibility: visible!important;
}

.hide {
    visibility: hidden;
}